body {
    background-color: white;
    margin: 0%;
}

#main {
    display: flex;
    height: 100vh;
}

#words {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
}

#carousel {
    /* display: flex; */
    flex: 2;
    /* justify-content: center;
    align-items: center; */
    overflow: hidden;
    margin-top: 20%;
}

#imgs {
    display: flex;
    transition: transform .5s ease-in-out;
}

#imgs img {
    width: 350px;
    height: 300px;
}